
$white: #fff;
$light-gray: #ddd;
$gray: #5a5a5a;
$dark-gray: #444;
$dark-blue: #000123;
$orange: #d45500;
$green: #75b022;
$dark-green: #516c23;
$red-300: #F75A68;
$red-500: #AB222E;
$red-700: #7A1921;
$red-800: #3D040B;


